/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import '../../@core/scss/core.scss';

.app-wrapper {
  margin: auto;
  max-width: 480px;
  border-left: 1px solid #ebe9f1 !important;
  border-right:  1px solid #ebe9f1 !important;
  height: 100vh;
  overflow-y: auto; // For v2 scroll for long auth form
  background-color: $white;
  position: relative;
}


@media (max-width: 640px) {
  .app-wrapper {
    width: 100vw !important;
    border: none !important;
  }
}

.pointer {
  cursor: pointer;
}